{
    "semi": true,
    "singleQuote": true,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "singleAttributePerLine": true,
    "trailingComma": "all",
    "vueIndentScriptAndStyle": true
  }
  